// $background-color : #202024;


$oxford-blue: #0a1128ff;
$royal-blue-dark: #001f54ff;
$indigo-dye: #034078ff;
$cg-blue: #1282a2ff;
$white: #fefcfbff;



// $dark-color : #151520;
// $darkest-color : #000;

// $dark-color : #0f0f0f;
// $dark-color : $oxford-blue;
$dark-color : #020024;
$darkest-color : #000;

$medium-color : $royal-blue-dark;

$light-color : papayawhip;

$distinction-color : $indigo-dye;

// $focused-color : #123487;